@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Bem-vindo ao Sistema de Prontuário Online</h1>
        <p class="lead">Gerencie seus pacientes e informações de forma prática e segura.</p>
    </div>
</div>